.date-calendar {
font-size: medium;
color: aqua;
font-family: sans-serif;
    }

.date-calendar input {
color: rgb(48, 48, 48);
width: 350px;
padding-left: 12px;
}


.calendar-btn {
    background-color:rgb(17, 132, 255);
    color: rgb(255, 255, 255);
    margin-left: 120px;
    /* border-color: rgb(17, 124, 255); */
    border: none;
    border-radius: 6px;  
}

.calendar-btn2 {
    /* background-color:rgb(197, 211, 227); */
    /* color: rgb(255, 255, 255); */
    margin-left: 68px;
    margin-top: 20px;
    /* border-color: rgb(17, 124, 255); */
    /* border: none; */
    border-radius: 6px;  
    padding-left: 60px;
    padding-right: 60px;
    
}